@import url('https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=SN+Pro:ital,wght@0,200..900;1,200..900&family=Squada+One&display=swap');

:root {
    --font: 'Elms Sans', 'Jost', 'SN Pro', 'Squada One', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --bgscreen: linear-gradient(#06dcb1, #005f4c);
    --bgblock: #0000002b;
    --main: #005f4c;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--font);
    color: #ffffffeb;
    background-image: var(--bgscreen);
    height: 100vh;
}

header {
    background-color: var(--main);
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    box-shadow: 0px 3px 10px #0000003d;
}

header h1 {
    font-size: 12px;
    text-align: left;
    margin: 0;
}

header span {
    color: aqua;
}

h1 {
    font-size: 1.5rem;
    text-align: center;
    margin: 10px 0 20px;
}

#screen {
    background-color: #00000081;
    border: solid 3px #0000003d;
    width: 40%;
    margin: 5vh auto;
    padding: 10px;
    border-radius: 15px;
}

h2 {
    font-size: 1.2rem;
    padding: 4px 10px;
}

#addb {
    display: flex;
    justify-content: center;
    align-items: center;
}

#add {
    font-size: 60px;
    color: #ffffffeb;
    padding: 20px 40px;
    border: solid 3px #0000003d;
    border-radius: 10px;
    background-color: #0000004e;
    margin: 20px 0;
}

#add:hover {
    filter: brightness(1.5);
    background-color: #00000090;
    cursor: pointer;
}

#addbox {
    border: solid 2px #0000006c;
    background-color: var(--bgblock);
    border-radius: 10px;
    margin-top: 10px;
}

#title, #desc {
    font-family: var(--font);
    width: 100%;
    background-color: inherit;
    border: none;
    color: #ffffffc8;
}

#title {
    font-size: 1.2rem;
    padding: 15px;
    text-align: center;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    border-bottom: solid 2px #0000003d;
}

#title:focus, #desc:focus {
    outline: none;
}

#desc {
    width: 100%;
    resize: none;
    padding: 10px;
    padding-bottom: 30%;
    text-wrap: wrap;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

#desc::-webkit-scrollbar {display: none;}

#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15%;
}

#buttons button {
    font-family: var(--font);
    font-weight: bold;
    font-size: 0.8em;
    color: #ffffffeb;
    min-width: 20%;
    margin: 10px;
    padding: 10px;
    border: solid 3px #0000003d;
    border-radius: 10px;
}

#buttons #save {
    background-color: #00ff15a2;
}

.alert {
    color: #ff0000ef;
    text-align: center;
    font-size: 0.8em;
    font-weight: bold;
    margin-top: 10px;
}

#buttons #back {
    background-color: #ff0000a2;
}

#buttons button:hover {
    filter: contrast(1.5);
    cursor: pointer;
}

/* classList.toggle() */
.box {display: none;}
.open {display: block;}
/* classList.toggle() */

#taskList {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    list-style: none;
}

.note {
    background-color: var(--bgblock);
    border: solid 3px #0000003d;
    border-radius: 10px;
    padding: 10px;
    padding-bottom: 35px;
    position: relative;
}

.btnDel {
    all: unset;
    display: block;
    position: absolute;
    left: -2.5px;
    right: -2.5px;
    bottom: -3px;
    font-size: 0.7em;
    font-weight: 900;
    text-align: center;
    padding: 5px 0;
    color: #980202e2;
    background-color: #420101;
    border: solid 3px #0000003d;
    border-top: none;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.ntitle {
    font-size: 1.2em;
    font-weight: bold;
    border-bottom: dashed 2px #ffffff39;
    padding-bottom: 5px;
}

.ndesc {
    font-size: 0.8em;
    margin-top: 5px;
    text-align: justify;
}

.note.done {
    background-color: #00ff4479;
}

footer {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer ul {list-style: none;}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.social img {
    width: 20px;
    filter: invert(65%);
}

.social img:hover {
    filter: invert(100%);
    cursor: pointer;
}